@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0E28A3;
  --color-secondary: #0AE6D2;
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}

.container-max {
  max-width: var(--max-w);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.halo-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.halo {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 1;
  mix-blend-mode: lighten;
  will-change: transform;
}

/* Halo 1 : turquoise */
.halo1 {
  width: 1500px;
  height: 1500px;
  background: rgba(14, 40, 163, 0.5);
  top: 20%;
  left: -50%;
  animation: float1 20s ease-in-out infinite alternate;
}

/* Halo 2 : bleu doux */
.halo2 {
  width: 1500px;
  height: 1500px;
  background: rgba(14, 40, 163, 0.5);
  top: 10%;
  left: 60%;
  animation: float3 20s ease-in-out infinite alternate;
}

/* Halo 3 : blanc chaud */
.halo3 {
  width: 1000px;
  height: 1000px;
  background: rgba(14, 40, 163, 0.5);
  top: 10%;
  left: 20%;
  animation: float2 5s ease-in-out infinite alternate;
}

/* Animations visibles et naturelles */
@keyframes float1 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(60px, -40px) scale(1.1); }
  100% { transform: translate(-60px, 50px) scale(0.9); }
}

@keyframes float2 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-80px, 50px) scale(1.05); }
  100% { transform: translate(80px, -60px) scale(1.1); }
}

@keyframes float3 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(40px, 60px) scale(1.15); }
  100% { transform: translate(-50px, -40px) scale(0.95); }
}






